@model IEnumerable<CityFamily.Models.Admins>

@{
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
    ViewBag.Title = "用户列表";
}

<div class="pathTip">
    <a class="pathTipItem" @(string.IsNullOrEmpty(ViewBag.searchStr) ? "" : "href=/Admin/User/List")>用户列表</a>
    @{
        if (!string.IsNullOrEmpty(ViewBag.searchStr))
        {
            <a class="pathTipItem">@ViewBag.searchStr</a>
        }
    }
</div>
<div class="inputSet">
    @*<a class="inputButton" href='/Admin/User/Create' lefticon style="background-image: url(/BackSet/src/media/icon_plus.png)">添加用户</a>*@
    <div class="splitter"></div>
    <form action="/Admin/User/List" id="form1">
        <input type="text" name="searchStr" class="inputText" placeholder="ID、用户名" />
        <a class="inputButton" onclick="document.getElementById('form1').submit();" lefticon style=" background-image:url(/BackSet/src/media/icon_search.png)">搜索</a>
    </form>
</div>
<div class="contentlist">
    <table>
        <thead>
            <tr>
                <td width="120">ID</td>
                <td>用户名</td>
                <td>角色</td>
                <td>分公司</td>
                <td width="160">密码</td>
                <td width="120">修改密码</td>
                <td width="120">删除</td>
            </tr>
        </thead>
        <tbody>
            @{
                var db = new CityFamily.Models.CityFamilyDbContext();
                if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        var userRole = db.T_UserRole.Where(o => o.UserID == item.Id).FirstOrDefault();
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.AdminName</td>
                            <td>@db.T_RoleInfo.Where(o => o.RoleID == userRole.RoleID).FirstOrDefault().RoleName</td>
                            <td>@db.T_CompanyInfo.Where(o => o.CompanyID == item.CompanyID).FirstOrDefault().CompanyName</td>
                            <td>******</td>
                            <td><a class="edit" href="/Admin/User/Edit/@item.Id"></a></td>
                            <td><a class="delete" href="@Url.Action("Delete", new{id=item.Id,returnURL=Request.Url.ToString()})"></a></td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
<form id="form_pageindex" action="/Admin/User/List" method="get">
    <div class="inputSet">
        <input type="hidden" name="searchStr" value="@ViewBag.searchStr" class="inputText">
        <a href="@ViewBag.firstPage" class="inputButton">首页</a>
        <a href="@ViewBag.perPage" class="inputButton"> &lt; 上一页</a>
        <div class="splitter"></div>
        <input type="text" class="inputText" name="pageIndex" style="width:40px;" value="@ViewBag.pageX" />
        <span style="position:relative; float:left; line-height:16px; padding:8px; margin-right:8px;">/@ViewBag.pageCount</span>
        <a onclick="document.getElementById('form_pageindex').submit()" class="inputButton">转至</a>
        <div class="splitter"></div>
        <a href="@ViewBag.nextPage" class="inputButton">下一页 &gt;</a>
        <a href="@ViewBag.lastPage" class="inputButton">末页</a>
    </div>
</form>