@model IEnumerable<CityFamily.Models.StyleThird>

@{
    Layout = "~/Views/Shared/HeadFoot.cshtml";
    ViewBag.Title = "城市人家";
}

@section Content{
    <div class='menu'>
        <a href='/Buildings/List' class='menuItem '>找我家</a>
        <div class='menuDivideLine'></div>
        <a href="/FurnitureView/CoverList" class='menuItem '>家具场景</a>
        <div class='menuDivideLine'></div>
        <a class='menuItem choosed' href='/Styles/List'>风格定位</a>
        <div class='menuDivideLine'></div>
        <a href='/Function/Questionnaire' class='menuItem'>功能定位</a>
        <div class='menuDivideLine'></div>
        <a href='/VIP/FuncList' class='menuItem'>VIP档案库</a>
    </div>
    <div id='contentContainer'>
        <div class='partContainer'>
            <div id='part2_contentContainer2'>
                <div class="pathTip">
                    <a href='/Styles/List' class="pathTipItem">城市人家八大设计风格体系</a>
                    @*<!--===========判断是否要显示二级导航===========-->
                    @if (ViewBag.StyleId != 3 && ViewBag.StyleId != 6 && ViewBag.StyleId != 8)
                    {
                        <a href="/Styles/SecList/@ViewBag.StyleId" class="pathTipItem">@ViewBag.StyleName</a>
                    }
               
                    <!--======================END========-->*@
                    <a href='/Styles/SecList/@ViewBag.StyleId' class="pathTipItem">@ViewBag.StyleName</a>                 
                    <a class="pathTipItem">@ViewBag.StyleDetailName</a>
                </div>
                <div id='part2_contentContainer2_content1' class='pics_content1'>
                    @foreach (var style in Model)
                    {
                        <span>
                            <a href='/Styles/StyleThird/@style.Id' class='specific_styleContainer' style='background-image:url(@style.StyleThirdIndex)'>
                                <div class='specific_styleContainerBottom'>
                                    <div class='specific_styleBottomMore'></div>
                                    <div class='specific_styleName'>@style.StyleThirdName</div>
                                </div>
                                <div class='specific_styleHoverContainer'>
                                    <div class='specific_styleView'></div>
                                    <div class='specific_styleViewName'>查看详情</div>
                                </div>
                            </a>
                        </span>
                    }
                </div>
            </div>
        </div>
    </div>
}
