@model IEnumerable<CityFamily.Models.Admins>

@{
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
    ViewBag.Title = "管理员列表";
}

<div class="pathTip">
    <a class="pathTipItem" @(string.IsNullOrEmpty(ViewBag.searchStr) ? "" : "href=/Admin/Config/List")>管理员列表</a>
    @{
        if (!string.IsNullOrEmpty(ViewBag.searchStr))
        {
            <a class="pathTipItem">@ViewBag.searchStr</a>
        }
    }
</div>
<div class="inputSet">
    <a class="inputButton" href='/Admin/Config/AddUserInfo/0' lefticon style="background-image: url(/BackSet/src/media/icon_plus.png)">添加管理员</a>
    <div class="splitter"></div>
    <form action="/Admin/Config/List" id="form1">
        <input type="text" name="searchStr" class="inputText" placeholder="ID、管理员账号" />
        <a class="inputButton" onclick="document.getElementById('form1').submit();" lefticon style=" background-image:url(/BackSet/src/media/icon_search.png)">搜索</a>
    </form>
</div>
<div class="contentlist">
    <table>
        <thead>
            <tr>
                <td width="120">ID</td>
                <td>分公司名称</td>
                <td>管理员账号</td>
                <td width="160">密码</td>
                <td width="120">修改密码</td>
                <td width="120">删除</td>
            </tr>
        </thead>
        <tbody>
            @{
                var db = new CityFamily.Models.CityFamilyDbContext();
                if (Model != null)
                {
                    foreach (var item in Model)
                    {

                        <tr>
                            <td>@item.Id</td>
                            @if (item.CompanyID == 0)
                            {
                                <td>公司总部</td>
                            }
                            else
                            {
                                var comm = db.T_CompanyInfo.FirstOrDefault(o => o.CompanyID == item.CompanyID);
                                if (comm != null)
                                {
                                    <td>@comm.CompanyName</td>
                                }
                                else
                                {
                                    <td>--</td>
                                }
                            }
                            @*<td>@(item.CompanyID == 0 ? "公司总部" : db.T_CompanyInfo.Where(o => o.CompanyID == item.CompanyID).FirstOrDefault().CompanyName)</td>*@
                            <td>@item.AdminName</td>
                            <td>******</td>
                            <td><a class="edit" href="/Admin/Config/AddUserInfo/@item.Id"></a></td>
                            <td><a class="delete" href="@Url.Action("Delete", new{id=item.Id,returnURL=Request.Url.ToString()})"></a></td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
<form id="form_pageindex" action="/Admin/Config/List" method="get">
    <div class="inputSet">
        <input type="hidden" name="searchStr" value="@ViewBag.searchStr" class="inputText">
        <a href="@ViewBag.firstPage" class="inputButton">首页</a>
        <a href="@ViewBag.perPage" class="inputButton"> &lt; 上一页</a>
        <div class="splitter"></div>
        <input type="text" class="inputText" name="pageIndex" style="width:40px;" value="@ViewBag.pageX" />
        <span style="position:relative; float:left; line-height:16px; padding:8px; margin-right:8px;">/@ViewBag.pageCount</span>
        <a onclick="document.getElementById('form_pageindex').submit()" class="inputButton">转至</a>
        <div class="splitter"></div>
        <a href="@ViewBag.nextPage" class="inputButton">下一页 &gt;</a>
        <a href="@ViewBag.lastPage" class="inputButton">末页</a>
    </div>
</form>