@model IEnumerable<CityFamily.Models.Decorate>

@{
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
    ViewBag.Title = "装修方案列表";
}

<div class="pathTip">
    <a class="pathTipItem" href="/Admin/Building/List">楼盘列表</a>
    <a class="pathTipItem" href="/Admin/Building/List?searchStr=@ViewBag.BuildName">@ViewBag.BuildName</a>
    <a class="pathTipItem" href="/Admin/Layout/List/@ViewBag.BuildId">包含户型列表</a>
    <a class="pathTipItem" href="/Admin/Layout/List/@ViewBag.BuildId?searchStr=@ViewBag.LayName">@ViewBag.LayName</a>
    <a class="pathTipItem">包含装修方案列表</a>
</div>
<div class="inputSet">
    @{
        int layId = ViewBag.LayId;
        <a class="inputButton" href='/Admin/Decorate/Create/@layId' lefticon style="background-image: url(/BackSet/src/media/icon_plus.png)">添加装修方案信息</a>
    }
</div>
<div class="contentlist">
    <table>
        <thead>
            <tr>
                <td width="100">ID</td>
                <td>装修方案封面图</td>
                <td width="120">最近修改时间</td>
                <td width="100">编辑装修方案</td>
                <td width="100">删除</td>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td> <img src="@item.DecorateIndex" style="width:150px;" /></td>
                            <td>@item.CreateTime</td>
                            <td><a class="edit" href="/Admin/Decorate/Edit/@item.Id"></a></td>
                            <td><a class="delete" href="@Url.Action("Delete", new { id=item.Id,returnURL=Request.Url.ToString()})"></a></td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
