@model CityFamily.Models.FuncListView

@{
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
    ViewBag.Title = "功能定位列表";
}

<div class="pathTip">
    <a class="pathTipItem" @(string.IsNullOrEmpty(ViewBag.searchStr) ? "" : "href=/Admin/FuncLocation/List")>功能定位列表</a>
    @{
        if (!string.IsNullOrEmpty(ViewBag.searchStr))
        {
            <a class="pathTipItem">@ViewBag.searchStr</a>
        }
    }
</div>
<div class="inputSet">
    <form action="/Admin/FuncLocation/List" id="form1">
        <input type="text" name="searchStr" class="inputText" placeholder="用户名、客户姓名、小区名" style="margin-bottom:16px;" />
        <input type="hidden" name="lead" id="lead" value="@ViewBag.IsLead" />
        <a class="inputButton" onclick="document.getElementById('form1').submit();" lefticon style=" background-image:url(/BackSet/src/media/icon_search.png)">搜索</a>
    </form>
</div>
<div class="contentlist">
    <table>
        <thead>
            <tr>
                <td width="100">ID</td>
                <td>用户名</td>
                <td width="200">客户姓名</td>
                <td width="100">预约量房时间</td>
                <td width="100">查看详细信息</td>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var item in Model.FuncResult)
                    {
                        int i = Model.FuncResult.IndexOf(item);
                        <tr>
                            <td>@item.Id</td>
                            <td>@(Model.User[i] == null ? "" :Model.User[i].AdminName)</td>
                            <td>@Model.DataResult[i].Name</td>
                            <td>@Model.DataResult[i].AgreedTime</td>
                            <td><a class="detail" href="/Admin/FuncLocation/Details/@item.Id" target="_blank"></a></td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
<form id="form_pageindex" action="/Admin/FuncLocation/List" method="get">
    <div class="inputSet">
        <input type="hidden" name="searchStr" value="@ViewBag.searchStr" class="inputText">
        <a href="@ViewBag.firstPage" class="inputButton">首页</a>
        <a href="@ViewBag.perPage" class="inputButton"> &lt; 上一页</a>
        <div class="splitter"></div>
        <input type="text" class="inputText" name="pageIndex" style="width:40px;" value="@ViewBag.pageX" />
        <span style="position:relative; float:left; line-height:16px; padding:8px; margin-right:8px;">/@ViewBag.pageCount</span>
        <a onclick="document.getElementById('form_pageindex').submit()" class="inputButton">转至</a>
        <div class="splitter"></div>
        <a href="@ViewBag.nextPage" class="inputButton">下一页 &gt;</a>
        <a href="@ViewBag.lastPage" class="inputButton">末页</a>
    </div>
</form>
